In [260]:
import epmwebapi as epm
import datetime as dt
import numpy as np
import pandas as pd

#### Leitura de dados brutos(Raw)

In [262]:
#cria conexao
epmConn = epm.EpmConnection('http://localhost:44333', 'http://localhost:44332', 'sa', 'Elipse21')

path = 'R80711_Wind_speed'
bv = epmConn.getDataObjects(path)

iniTime = dt.datetime(2016, 1, 1, 0, 0, 0, 0)
endTime = iniTime + dt.timedelta(days=3)

#cria objeto queryperiod
queryPeriod = epm.QueryPeriod(iniTime, endTime)

#aplica o objeto um historyReadRaw com o queryPeriod na basicVariable selecionada
result = bv[path].historyReadRaw(queryPeriod)

#### Mostra o formato dos dados

In [265]:
result.shape

(432,)

### Criação do dataframe pandas
corrige o problema: ValueError: Big-endian buffer not supported on little-endian compiler
para ser possível transformar os dados vindos do EPM em um Dataframe Pandas

In [272]:
new_Quality = result[:]['Quality'].byteswap().newbyteorder()
new_Timestamp = result[:]['Timestamp']
new_Value = result[:]['Value'].byteswap().newbyteorder()

d = {'Value':new_Value, 'Timestamp':new_Timestamp, 'Quality':new_Quality}
df_original = pd.DataFrame(d)

Mostra o formato dos dados, para esse caso são 432 linhas por 3 colunas

In [274]:
df_original.shape

(432, 3)

#### Comparação entre valores em formato Numpy Array e Dataframe do Pandas

In [276]:
print("Numpy Array:")
print(result[0:5])
print("\n")
print("Dataframe Pandas:")
df_original.head()

Numpy Array:
[(6.14, datetime.datetime(2016, 1, 1, 0, 0, tzinfo=datetime.timezone.utc), 0)
 (5.75, datetime.datetime(2016, 1, 1, 0, 10, tzinfo=datetime.timezone.utc), 0)
 (5.71, datetime.datetime(2016, 1, 1, 0, 20, tzinfo=datetime.timezone.utc), 0)
 (6.07, datetime.datetime(2016, 1, 1, 0, 30, tzinfo=datetime.timezone.utc), 0)
 (5.75, datetime.datetime(2016, 1, 1, 0, 40, tzinfo=datetime.timezone.utc), 0)]


Dataframe Pandas:

   Value                 Timestamp  Quality
0   6.14 2016-01-01 00:00:00+00:00        0
1   5.75 2016-01-01 00:10:00+00:00        0
2   5.71 2016-01-01 00:20:00+00:00        0
3   6.07 2016-01-01 00:30:00+00:00        0
4   5.75 2016-01-01 00:40:00+00:00        0

#### Mostra o tipo dos dados em cada coluna

In [278]:
df_original.dtypes

Value                    float32
Timestamp    datetime64[ns, UTC]
Quality                    int64
dtype: object

#### Gera estatísticas descritivas que resumem a tendência central, a dispersão e a forma da distribuição de um conjunto de dados, excluindo os valores NaN.

#### Aplicado somente a dados numéricos

In [280]:
df_original.describe()

            Value  Quality
count  432.000000    432.0
mean     6.456759      0.0
std      1.637152      0.0
min      0.870000      0.0
25%      5.687500      0.0
50%      6.490000      0.0
75%      7.270000      0.0
max     11.180000      0.0

#### Inclui todos os tipos de dados

In [283]:
df_original.describe(include='all')

             Value                  Timestamp  Quality
count   432.000000                        432    432.0
unique         NaN                        432      NaN
top            NaN  2016-01-01 20:40:00+00:00      NaN
freq           NaN                          1      NaN
mean      6.456759                        NaN      0.0
std       1.637152                        NaN      0.0
min       0.870000                        NaN      0.0
25%       5.687500                        NaN      0.0
50%       6.490000                        NaN      0.0
75%       7.270000                        NaN      0.0
max      11.180000                        NaN      0.0

#### Somente os que são do tipo float32

In [285]:
df_original.describe(include=['float32'])

            Value
count  432.000000
mean     6.456759
std      1.637152
min      0.870000
25%      5.687500
50%      6.490000
75%      7.270000
max     11.180000


####                              REMOVENDO COLUNAS

#### Boa prática ao realizar algumas alteração no dataframe é atribuir a outra variável
#### axis= 1 - Colunas / axis = 0 - Linhas

In [293]:
df_sem_timestamp = df_original.drop(['Timestamp'],axis=1)

df_sem_timestamp.describe(include='all')

            Value  Quality
count  432.000000    432.0
mean     6.456759      0.0
std      1.637152      0.0
min      0.870000      0.0
25%      5.687500      0.0
50%      6.490000      0.0
75%      7.270000      0.0
max     11.180000      0.0

#### REMOVENDO LINHAS

In [294]:
#axis= 1 - Colunas / axis = 0 - Linhas
df_sem_timestamp_v1 = df_sem_timestamp.drop([0,1],axis=0)

df_sem_timestamp_v1.head()

   Value  Quality
2   5.71        0
3   6.07        0
4   5.75        0
5   6.18        0
6   6.32        0

#### ITERAÇÕES

In [295]:
for indice, linha in df_original.iterrows():
    print(indice, linha.Value , ' = ', linha.Timestamp)

0 6.139999866485596  =  2016-01-01 00:00:00+00:00
1 5.75  =  2016-01-01 00:10:00+00:00
2 5.710000038146973  =  2016-01-01 00:20:00+00:00
3 6.070000171661377  =  2016-01-01 00:30:00+00:00
4 5.75  =  2016-01-01 00:40:00+00:00
5 6.179999828338623  =  2016-01-01 00:50:00+00:00
6 6.320000171661377  =  2016-01-01 01:00:00+00:00
7 6.010000228881836  =  2016-01-01 01:10:00+00:00
8 6.039999961853027  =  2016-01-01 01:20:00+00:00
9 5.769999980926514  =  2016-01-01 01:30:00+00:00
10 5.170000076293945  =  2016-01-01 01:40:00+00:00
11 5.099999904632568  =  2016-01-01 01:50:00+00:00
12 5.110000133514404  =  2016-01-01 02:00:00+00:00
13 5.099999904632568  =  2016-01-01 02:10:00+00:00
14 4.940000057220459  =  2016-01-01 02:20:00+00:00
15 5.340000152587891  =  2016-01-01 02:30:00+00:00
16 5.590000152587891  =  2016-01-01 02:40:00+00:00
17 5.349999904632568  =  2016-01-01 02:50:00+00:00
18 5.0  =  2016-01-01 03:00:00+00:00
19 4.769999980926514  =  2016-01-01 03:10:00+00:00
20 5.0  =  2016-01-01 03:20:00+00:00
21 5.190000057220459  =  2016-01-01 03:30:00+00:00
22 4.96999979019165  =  2016-01-01 03:40:00+00:00
23 5.059999942779541  =  2016-01-01 03:50:00+00:00
24 5.300000190734863  =  2016-01-01 04:00:00+00:00
25 5.630000114440918  =  2016-01-01 04:10:00+00:00
26 5.659999847412109  =  2016-01-01 04:20:00+00:00
27 5.199999809265137  =  2016-01-01 04:30:00+00:00
28 4.710000038146973  =  2016-01-01 04:40:00+00:00
29 4.809999942779541  =  2016-01-01 04:50:00+00:00
30 5.46999979019165  =  2016-01-01 05:00:00+00:00
31 5.480000019073486  =  2016-01-01 05:10:00+00:00
32 5.570000171661377  =  2016-01-01 05:20:00+00:00
33 5.159999847412109  =  2016-01-01 05:30:00+00:00
34 5.059999942779541  =  2016-01-01 05:40:00+00:00
35 5.010000228881836  =  2016-01-01 05:50:00+00:00
36 4.849999904632568  =  2016-01-01 06:00:00+00:00
37 4.309999942779541  =  2016-01-01 06:10:00+00:00
38 3.3299999237060547  =  2016-01-01 06:20:00+00:00
39 1.5499999523162842  =  2016-01-01 06:30:00+00:00
40 3.130000114440918  =  2016-01-01 06:40:00+00:00
41 3.7899999618530273  =  2016-01-01 06:50:00+00:00
42 2.680000066757202  =  2016-01-01 07:00:00+00:00
43 2.890000104904175  =  2016-01-01 07:10:00+00:00
44 2.7899999618530273  =  2016-01-01 07:20:00+00:00
45 2.759999990463257  =  2016-01-01 07:30:00+00:00
46 2.619999885559082  =  2016-01-01 07:40:00+00:00
47 2.569999933242798  =  2016-01-01 07:50:00+00:00
48 2.2100000381469727  =  2016-01-01 08:00:00+00:00
49 2.130000114440918  =  2016-01-01 08:10:00+00:00
50 2.3399999141693115  =  2016-01-01 08:20:00+00:00
51 2.9800000190734863  =  2016-01-01 08:30:00+00:00
52 3.1500000953674316  =  2016-01-01 08:40:00+00:00
53 2.8399999141693115  =  2016-01-01 08:50:00+00:00
54 2.7799999713897705  =  2016-01-01 09:00:00+00:00
55 2.559999942779541  =  2016-01-01 09:10:00+00:00
56 3.0299999713897705  =  2016-01-01 09:20:00+00:00
57 3.1600000858306885  =  2016-01-01 09:30:00+00:00
58 4.699999809265137  =  2016-01-01 09:40:00+00:00
59 3.859999895095825  =  2016-01-01 09:50:00+00:00
60 3.5299999713897705  =  2016-01-01 10:00:00+00:00
61 2.200000047683716  =  2016-01-01 10:10:00+00:00
62 1.7000000476837158  =  2016-01-01 10:20:00+00:00
63 1.149999976158142  =  2016-01-01 10:30:00+00:00
64 1.399999976158142  =  2016-01-01 10:40:00+00:00
65 1.3200000524520874  =  2016-01-01 10:50:00+00:00
66 0.8700000047683716  =  2016-01-01 11:00:00+00:00
67 2.880000114440918  =  2016-01-01 11:10:00+00:00
68 3.549999952316284  =  2016-01-01 11:20:00+00:00
69 3.430000066757202  =  2016-01-01 11:30:00+00:00
70 4.289999961853027  =  2016-01-01 11:40:00+00:00
71 5.409999847412109  =  2016-01-01 11:50:00+00:00
72 5.670000076293945  =  2016-01-01 12:00:00+00:00
73 5.900000095367432  =  2016-01-01 12:10:00+00:00
74 5.909999847412109  =  2016-01-01 12:20:00+00:00
75 6.21999979019165  =  2016-01-01 12:30:00+00:00
76 5.710000038146973  =  2016-01-01 12:40:00+00:00
77 5.71999979019165  =  2016-01-01 12:50:00+00:00
78 5.079999923706055  =  2016-01-01 13:00:00+00:00
79 4.579999923706055  =  2016-01-01 13:10:00+00:00
80 5.119999885559082  =  2016-01-01 13:20:00+00:00
81 5.449999809265137  =  2016-01-01 13:30:00+00:00
82 5.130000114440918  =  2016-01-01 13:40:00+00:00
83 5.360000133514404  =  2016-01-01 13:50:00+00:00
84 6.039999961853027  =  2016-01-01 14:00:00+00:00
85 6.539999961853027  =  2016-01-01 14:10:00+00:00
86 6.440000057220459  =  2016-01-01 14:20:00+00:00
87 6.699999809265137  =  2016-01-01 14:30:00+00:00
88 6.949999809265137  =  2016-01-01 14:40:00+00:00
89 6.590000152587891  =  2016-01-01 14:50:00+00:00
90 6.369999885559082  =  2016-01-01 15:00:00+00:00
91 6.329999923706055  =  2016-01-01 15:10:00+00:00
92 6.400000095367432  =  2016-01-01 15:20:00+00:00
93 6.739999771118164  =  2016-01-01 15:30:00+00:00
94 7.0  =  2016-01-01 15:40:00+00:00
95 6.809999942779541  =  2016-01-01 15:50:00+00:00
96 6.710000038146973  =  2016-01-01 16:00:00+00:00
97 6.659999847412109  =  2016-01-01 16:10:00+00:00
98 6.150000095367432  =  2016-01-01 16:20:00+00:00
99 5.699999809265137  =  2016-01-01 16:30:00+00:00
100 5.619999885559082  =  2016-01-01 16:40:00+00:00
101 5.699999809265137  =  2016-01-01 16:50:00+00:00
102 5.400000095367432  =  2016-01-01 17:00:00+00:00
103 6.179999828338623  =  2016-01-01 17:10:00+00:00
104 6.119999885559082  =  2016-01-01 17:20:00+00:00
105 6.230000019073486  =  2016-01-01 17:30:00+00:00
106 6.619999885559082  =  2016-01-01 17:40:00+00:00
107 6.71999979019165  =  2016-01-01 17:50:00+00:00
108 6.400000095367432  =  2016-01-01 18:00:00+00:00
109 6.53000020980835  =  2016-01-01 18:10:00+00:00
110 7.039999961853027  =  2016-01-01 18:20:00+00:00
111 7.53000020980835  =  2016-01-01 18:30:00+00:00
112 7.369999885559082  =  2016-01-01 18:40:00+00:00
113 7.070000171661377  =  2016-01-01 18:50:00+00:00
114 7.03000020980835  =  2016-01-01 19:00:00+00:00
115 6.920000076293945  =  2016-01-01 19:10:00+00:00
116 6.880000114440918  =  2016-01-01 19:20:00+00:00
117 6.820000171661377  =  2016-01-01 19:30:00+00:00
118 6.869999885559082  =  2016-01-01 19:40:00+00:00
119 6.829999923706055  =  2016-01-01 19:50:00+00:00
120 6.380000114440918  =  2016-01-01 20:00:00+00:00
121 6.510000228881836  =  2016-01-01 20:10:00+00:00
122 6.25  =  2016-01-01 20:20:00+00:00
123 6.880000114440918  =  2016-01-01 20:30:00+00:00
124 6.340000152587891  =  2016-01-01 20:40:00+00:00
125 6.440000057220459  =  2016-01-01 20:50:00+00:00
126 6.420000076293945  =  2016-01-01 21:00:00+00:00
127 6.869999885559082  =  2016-01-01 21:10:00+00:00
128 7.079999923706055  =  2016-01-01 21:20:00+00:00
129 6.730000019073486  =  2016-01-01 21:30:00+00:00
130 5.880000114440918  =  2016-01-01 21:40:00+00:00
131 5.389999866485596  =  2016-01-01 21:50:00+00:00
132 5.28000020980835  =  2016-01-01 22:00:00+00:00
133 5.389999866485596  =  2016-01-01 22:10:00+00:00
134 5.369999885559082  =  2016-01-01 22:20:00+00:00
135 5.059999942779541  =  2016-01-01 22:30:00+00:00
136 4.869999885559082  =  2016-01-01 22:40:00+00:00
137 4.739999771118164  =  2016-01-01 22:50:00+00:00
138 5.090000152587891  =  2016-01-01 23:00:00+00:00
139 4.929999828338623  =  2016-01-01 23:10:00+00:00
140 5.210000038146973  =  2016-01-01 23:20:00+00:00
141 5.519999980926514  =  2016-01-01 23:30:00+00:00
142 5.199999809265137  =  2016-01-01 23:40:00+00:00
143 5.639999866485596  =  2016-01-01 23:50:00+00:00
144 6.019999980926514  =  2016-01-02 00:00:00+00:00
145 5.909999847412109  =  2016-01-02 00:10:00+00:00
146 6.619999885559082  =  2016-01-02 00:20:00+00:00
147 6.789999961853027  =  2016-01-02 00:30:00+00:00
148 7.199999809265137  =  2016-01-02 00:40:00+00:00
149 7.369999885559082  =  2016-01-02 00:50:00+00:00
150 8.420000076293945  =  2016-01-02 01:00:00+00:00
151 8.710000038146973  =  2016-01-02 01:10:00+00:00
152 8.34000015258789  =  2016-01-02 01:20:00+00:00
153 7.75  =  2016-01-02 01:30:00+00:00
154 7.559999942779541  =  2016-01-02 01:40:00+00:00
155 6.059999942779541  =  2016-01-02 01:50:00+00:00
156 5.460000038146973  =  2016-01-02 02:00:00+00:00
157 6.559999942779541  =  2016-01-02 02:10:00+00:00
158 7.659999847412109  =  2016-01-02 02:20:00+00:00
159 6.989999771118164  =  2016-01-02 02:30:00+00:00
160 6.449999809265137  =  2016-01-02 02:40:00+00:00
161 6.809999942779541  =  2016-01-02 02:50:00+00:00
162 6.050000190734863  =  2016-01-02 03:00:00+00:00
163 6.25  =  2016-01-02 03:10:00+00:00
164 6.489999771118164  =  2016-01-02 03:20:00+00:00
165 6.539999961853027  =  2016-01-02 03:30:00+00:00
166 6.489999771118164  =  2016-01-02 03:40:00+00:00
167 6.300000190734863  =  2016-01-02 03:50:00+00:00
168 6.480000019073486  =  2016-01-02 04:00:00+00:00
169 6.760000228881836  =  2016-01-02 04:10:00+00:00
170 6.670000076293945  =  2016-01-02 04:20:00+00:00
171 7.119999885559082  =  2016-01-02 04:30:00+00:00
172 6.610000133514404  =  2016-01-02 04:40:00+00:00
173 6.190000057220459  =  2016-01-02 04:50:00+00:00
174 7.019999980926514  =  2016-01-02 05:00:00+00:00
175 7.059999942779541  =  2016-01-02 05:10:00+00:00
176 7.380000114440918  =  2016-01-02 05:20:00+00:00
177 7.5  =  2016-01-02 05:30:00+00:00
178 7.659999847412109  =  2016-01-02 05:40:00+00:00
179 7.21999979019165  =  2016-01-02 05:50:00+00:00
180 6.949999809265137  =  2016-01-02 06:00:00+00:00
181 7.079999923706055  =  2016-01-02 06:10:00+00:00
182 7.230000019073486  =  2016-01-02 06:20:00+00:00
183 6.869999885559082  =  2016-01-02 06:30:00+00:00
184 6.820000171661377  =  2016-01-02 06:40:00+00:00
185 6.789999961853027  =  2016-01-02 06:50:00+00:00
186 6.400000095367432  =  2016-01-02 07:00:00+00:00
187 5.059999942779541  =  2016-01-02 07:10:00+00:00
188 5.420000076293945  =  2016-01-02 07:20:00+00:00
189 6.230000019073486  =  2016-01-02 07:30:00+00:00
190 6.039999961853027  =  2016-01-02 07:40:00+00:00
191 6.429999828338623  =  2016-01-02 07:50:00+00:00
192 6.769999980926514  =  2016-01-02 08:00:00+00:00
193 6.369999885559082  =  2016-01-02 08:10:00+00:00
194 5.860000133514404  =  2016-01-02 08:20:00+00:00
195 5.409999847412109  =  2016-01-02 08:30:00+00:00
196 5.340000152587891  =  2016-01-02 08:40:00+00:00
197 5.739999771118164  =  2016-01-02 08:50:00+00:00
198 5.539999961853027  =  2016-01-02 09:00:00+00:00
199 5.739999771118164  =  2016-01-02 09:10:00+00:00
200 5.889999866485596  =  2016-01-02 09:20:00+00:00
201 6.150000095367432  =  2016-01-02 09:30:00+00:00
202 6.300000190734863  =  2016-01-02 09:40:00+00:00
203 6.0  =  2016-01-02 09:50:00+00:00
204 5.800000190734863  =  2016-01-02 10:00:00+00:00
205 6.130000114440918  =  2016-01-02 10:10:00+00:00
206 6.110000133514404  =  2016-01-02 10:20:00+00:00
207 5.980000019073486  =  2016-01-02 10:30:00+00:00
208 6.309999942779541  =  2016-01-02 10:40:00+00:00
209 6.639999866485596  =  2016-01-02 10:50:00+00:00
210 5.860000133514404  =  2016-01-02 11:00:00+00:00
211 6.369999885559082  =  2016-01-02 11:10:00+00:00
212 6.389999866485596  =  2016-01-02 11:20:00+00:00
213 6.050000190734863  =  2016-01-02 11:30:00+00:00
214 7.070000171661377  =  2016-01-02 11:40:00+00:00
215 7.21999979019165  =  2016-01-02 11:50:00+00:00
216 6.960000038146973  =  2016-01-02 12:00:00+00:00
217 7.809999942779541  =  2016-01-02 12:10:00+00:00
218 7.860000133514404  =  2016-01-02 12:20:00+00:00
219 6.5  =  2016-01-02 12:30:00+00:00
220 6.599999904632568  =  2016-01-02 12:40:00+00:00
221 6.730000019073486  =  2016-01-02 12:50:00+00:00
222 6.510000228881836  =  2016-01-02 13:00:00+00:00
223 6.090000152587891  =  2016-01-02 13:10:00+00:00
224 6.920000076293945  =  2016-01-02 13:20:00+00:00
225 7.449999809265137  =  2016-01-02 13:30:00+00:00
226 7.480000019073486  =  2016-01-02 13:40:00+00:00
227 6.909999847412109  =  2016-01-02 13:50:00+00:00
228 6.670000076293945  =  2016-01-02 14:00:00+00:00
229 7.21999979019165  =  2016-01-02 14:10:00+00:00
230 7.039999961853027  =  2016-01-02 14:20:00+00:00
231 6.989999771118164  =  2016-01-02 14:30:00+00:00
232 6.869999885559082  =  2016-01-02 14:40:00+00:00
233 6.489999771118164  =  2016-01-02 14:50:00+00:00
234 6.5  =  2016-01-02 15:00:00+00:00
235 5.400000095367432  =  2016-01-02 15:10:00+00:00
236 5.619999885559082  =  2016-01-02 15:20:00+00:00
237 6.78000020980835  =  2016-01-02 15:30:00+00:00
238 7.03000020980835  =  2016-01-02 15:40:00+00:00
239 7.440000057220459  =  2016-01-02 15:50:00+00:00
240 6.739999771118164  =  2016-01-02 16:00:00+00:00
241 6.25  =  2016-01-02 16:10:00+00:00
242 6.650000095367432  =  2016-01-02 16:20:00+00:00
243 7.119999885559082  =  2016-01-02 16:30:00+00:00
244 6.829999923706055  =  2016-01-02 16:40:00+00:00
245 6.980000019073486  =  2016-01-02 16:50:00+00:00
246 7.880000114440918  =  2016-01-02 17:00:00+00:00
247 7.840000152587891  =  2016-01-02 17:10:00+00:00
248 7.489999771118164  =  2016-01-02 17:20:00+00:00
249 7.179999828338623  =  2016-01-02 17:30:00+00:00
250 7.75  =  2016-01-02 17:40:00+00:00
251 8.34000015258789  =  2016-01-02 17:50:00+00:00
252 7.519999980926514  =  2016-01-02 18:00:00+00:00
253 8.039999961853027  =  2016-01-02 18:10:00+00:00
254 8.619999885559082  =  2016-01-02 18:20:00+00:00
255 7.96999979019165  =  2016-01-02 18:30:00+00:00
256 8.229999542236328  =  2016-01-02 18:40:00+00:00
257 8.039999961853027  =  2016-01-02 18:50:00+00:00
258 8.069999694824219  =  2016-01-02 19:00:00+00:00
259 7.949999809265137  =  2016-01-02 19:10:00+00:00
260 7.650000095367432  =  2016-01-02 19:20:00+00:00
261 8.0600004196167  =  2016-01-02 19:30:00+00:00
262 7.869999885559082  =  2016-01-02 19:40:00+00:00
263 7.349999904632568  =  2016-01-02 19:50:00+00:00
264 7.829999923706055  =  2016-01-02 20:00:00+00:00
265 8.699999809265137  =  2016-01-02 20:10:00+00:00
266 8.100000381469727  =  2016-01-02 20:20:00+00:00
267 7.96999979019165  =  2016-01-02 20:30:00+00:00
268 7.590000152587891  =  2016-01-02 20:40:00+00:00
269 7.96999979019165  =  2016-01-02 20:50:00+00:00
270 7.789999961853027  =  2016-01-02 21:00:00+00:00
271 8.229999542236328  =  2016-01-02 21:10:00+00:00
272 7.960000038146973  =  2016-01-02 21:20:00+00:00
273 7.269999980926514  =  2016-01-02 21:30:00+00:00
274 7.829999923706055  =  2016-01-02 21:40:00+00:00
275 7.559999942779541  =  2016-01-02 21:50:00+00:00
276 8.149999618530273  =  2016-01-02 22:00:00+00:00
277 7.420000076293945  =  2016-01-02 22:10:00+00:00
278 7.320000171661377  =  2016-01-02 22:20:00+00:00
279 7.050000190734863  =  2016-01-02 22:30:00+00:00
280 7.78000020980835  =  2016-01-02 22:40:00+00:00
281 7.320000171661377  =  2016-01-02 22:50:00+00:00
282 7.320000171661377  =  2016-01-02 23:00:00+00:00
283 6.960000038146973  =  2016-01-02 23:10:00+00:00
284 7.320000171661377  =  2016-01-02 23:20:00+00:00
285 7.269999980926514  =  2016-01-02 23:30:00+00:00
286 6.909999847412109  =  2016-01-02 23:40:00+00:00
287 7.389999866485596  =  2016-01-02 23:50:00+00:00
288 6.789999961853027  =  2016-01-03 00:00:00+00:00
289 7.050000190734863  =  2016-01-03 00:10:00+00:00
290 7.260000228881836  =  2016-01-03 00:20:00+00:00
291 7.71999979019165  =  2016-01-03 00:30:00+00:00
292 7.610000133514404  =  2016-01-03 00:40:00+00:00
293 6.599999904632568  =  2016-01-03 00:50:00+00:00
294 7.0  =  2016-01-03 01:00:00+00:00
295 7.25  =  2016-01-03 01:10:00+00:00
296 6.619999885559082  =  2016-01-03 01:20:00+00:00
297 6.650000095367432  =  2016-01-03 01:30:00+00:00
298 6.449999809265137  =  2016-01-03 01:40:00+00:00
299 6.510000228881836  =  2016-01-03 01:50:00+00:00
300 5.96999979019165  =  2016-01-03 02:00:00+00:00
301 6.090000152587891  =  2016-01-03 02:10:00+00:00
302 6.639999866485596  =  2016-01-03 02:20:00+00:00
303 6.980000019073486  =  2016-01-03 02:30:00+00:00
304 6.679999828338623  =  2016-01-03 02:40:00+00:00
305 6.440000057220459  =  2016-01-03 02:50:00+00:00
306 6.489999771118164  =  2016-01-03 03:00:00+00:00
307 6.460000038146973  =  2016-01-03 03:10:00+00:00
308 6.630000114440918  =  2016-01-03 03:20:00+00:00
309 6.420000076293945  =  2016-01-03 03:30:00+00:00
310 6.389999866485596  =  2016-01-03 03:40:00+00:00
311 6.570000171661377  =  2016-01-03 03:50:00+00:00
312 6.670000076293945  =  2016-01-03 04:00:00+00:00
313 6.179999828338623  =  2016-01-03 04:10:00+00:00
314 6.199999809265137  =  2016-01-03 04:20:00+00:00
315 6.239999771118164  =  2016-01-03 04:30:00+00:00
316 6.619999885559082  =  2016-01-03 04:40:00+00:00
317 6.53000020980835  =  2016-01-03 04:50:00+00:00
318 6.460000038146973  =  2016-01-03 05:00:00+00:00
319 6.21999979019165  =  2016-01-03 05:10:00+00:00
320 6.090000152587891  =  2016-01-03 05:20:00+00:00
321 5.900000095367432  =  2016-01-03 05:30:00+00:00
322 5.730000019073486  =  2016-01-03 05:40:00+00:00
323 5.5  =  2016-01-03 05:50:00+00:00
324 5.099999904632568  =  2016-01-03 06:00:00+00:00
325 5.739999771118164  =  2016-01-03 06:10:00+00:00
326 5.71999979019165  =  2016-01-03 06:20:00+00:00
327 6.440000057220459  =  2016-01-03 06:30:00+00:00
328 6.849999904632568  =  2016-01-03 06:40:00+00:00
329 6.090000152587891  =  2016-01-03 06:50:00+00:00
330 5.860000133514404  =  2016-01-03 07:00:00+00:00
331 6.28000020980835  =  2016-01-03 07:10:00+00:00
332 6.400000095367432  =  2016-01-03 07:20:00+00:00
333 5.989999771118164  =  2016-01-03 07:30:00+00:00
334 5.869999885559082  =  2016-01-03 07:40:00+00:00
335 5.619999885559082  =  2016-01-03 07:50:00+00:00
336 5.610000133514404  =  2016-01-03 08:00:00+00:00
337 5.75  =  2016-01-03 08:10:00+00:00
338 5.840000152587891  =  2016-01-03 08:20:00+00:00
339 5.889999866485596  =  2016-01-03 08:30:00+00:00
340 5.659999847412109  =  2016-01-03 08:40:00+00:00
341 6.260000228881836  =  2016-01-03 08:50:00+00:00
342 5.03000020980835  =  2016-01-03 09:00:00+00:00
343 5.260000228881836  =  2016-01-03 09:10:00+00:00
344 5.320000171661377  =  2016-01-03 09:20:00+00:00
345 5.610000133514404  =  2016-01-03 09:30:00+00:00
346 6.110000133514404  =  2016-01-03 09:40:00+00:00
347 6.070000171661377  =  2016-01-03 09:50:00+00:00
348 5.690000057220459  =  2016-01-03 10:00:00+00:00
349 5.679999828338623  =  2016-01-03 10:10:00+00:00
350 6.150000095367432  =  2016-01-03 10:20:00+00:00
351 5.369999885559082  =  2016-01-03 10:30:00+00:00
352 6.090000152587891  =  2016-01-03 10:40:00+00:00
353 6.5  =  2016-01-03 10:50:00+00:00
354 5.789999961853027  =  2016-01-03 11:00:00+00:00
355 6.079999923706055  =  2016-01-03 11:10:00+00:00
356 5.929999828338623  =  2016-01-03 11:20:00+00:00
357 5.389999866485596  =  2016-01-03 11:30:00+00:00
358 5.150000095367432  =  2016-01-03 11:40:00+00:00
359 5.650000095367432  =  2016-01-03 11:50:00+00:00
360 5.579999923706055  =  2016-01-03 12:00:00+00:00
361 5.869999885559082  =  2016-01-03 12:10:00+00:00
362 5.449999809265137  =  2016-01-03 12:20:00+00:00
363 6.190000057220459  =  2016-01-03 12:30:00+00:00
364 5.880000114440918  =  2016-01-03 12:40:00+00:00
365 6.550000190734863  =  2016-01-03 12:50:00+00:00
366 6.579999923706055  =  2016-01-03 13:00:00+00:00
367 6.53000020980835  =  2016-01-03 13:10:00+00:00
368 6.590000152587891  =  2016-01-03 13:20:00+00:00
369 7.269999980926514  =  2016-01-03 13:30:00+00:00
370 6.519999980926514  =  2016-01-03 13:40:00+00:00
371 6.849999904632568  =  2016-01-03 13:50:00+00:00
372 7.460000038146973  =  2016-01-03 14:00:00+00:00
373 6.71999979019165  =  2016-01-03 14:10:00+00:00
374 7.369999885559082  =  2016-01-03 14:20:00+00:00
375 7.130000114440918  =  2016-01-03 14:30:00+00:00
376 6.71999979019165  =  2016-01-03 14:40:00+00:00
377 6.429999828338623  =  2016-01-03 14:50:00+00:00
378 6.860000133514404  =  2016-01-03 15:00:00+00:00
379 7.230000019073486  =  2016-01-03 15:10:00+00:00
380 6.610000133514404  =  2016-01-03 15:20:00+00:00
381 7.349999904632568  =  2016-01-03 15:30:00+00:00
382 7.110000133514404  =  2016-01-03 15:40:00+00:00
383 7.730000019073486  =  2016-01-03 15:50:00+00:00
384 7.230000019073486  =  2016-01-03 16:00:00+00:00
385 7.360000133514404  =  2016-01-03 16:10:00+00:00
386 7.630000114440918  =  2016-01-03 16:20:00+00:00
387 8.09000015258789  =  2016-01-03 16:30:00+00:00
388 7.679999828338623  =  2016-01-03 16:40:00+00:00
389 8.75  =  2016-01-03 16:50:00+00:00
390 8.300000190734863  =  2016-01-03 17:00:00+00:00
391 7.920000076293945  =  2016-01-03 17:10:00+00:00

428 8.119999885559082  =  2016-01-03 23:20:00+00:00
429 8.260000228881836  =  2016-01-03 23:30:00+00:00
430 8.050000190734863  =  2016-01-03 23:40:00+00:00
431 7.980000019073486  =  2016-01-03 23:50:00+00:00

#### ORDENAÇÃO 

#### Ordenando com dot notation retorna uma serie

In [297]:
a = df_original.Value.sort_values(ascending=False)
type(a)

pandas.core.series.Series

In [299]:
#Para ordernar direto o DF aplicar sort_values no DF
b = df_original.sort_values(['Value'], ascending=False)
type(b)

pandas.core.frame.DataFrame

  
###                              Filtros Simples
#### Usar a notação de colchetes para indexar ou para aplicar filtros de series booleanos

In [304]:
booleanos = []
for item in df_original.Value:
    if item > 10:
        booleanos.append(True)
    else:
        booleanos.append(False)
        
#mostra se os primeiros 10 valores possuem "value" mais que 10
booleanos[:10]

[False, False, False, False, False, False, False, False, False, False]

#### Mostra que existem 13 dados com value maior que 30

In [306]:
df_filtrado = df_original[booleanos]
df_filtrado.shape

(13, 3)

#### Simplificando ou utilizando em List Comprehension

In [308]:
# A é uma serie do pandas
A = df_original.Value > 10

#apresenta todos os dados maiores que 10
df_original[A]

     Value                 Timestamp  Quality
393  10.33 2016-01-03 17:30:00+00:00        0
394  11.18 2016-01-03 17:40:00+00:00        0
395  11.14 2016-01-03 17:50:00+00:00        0
397  10.40 2016-01-03 18:10:00+00:00        0
398  10.76 2016-01-03 18:20:00+00:00        0
403  10.62 2016-01-03 19:10:00+00:00        0
404  10.36 2016-01-03 19:20:00+00:00        0
409  10.09 2016-01-03 20:10:00+00:00        0
410  10.32 2016-01-03 20:20:00+00:00        0
411  10.13 2016-01-03 20:30:00+00:00        0
412  10.26 2016-01-03 20:40:00+00:00        0
413  10.49 2016-01-03 20:50:00+00:00        0
419  10.21 2016-01-03 21:50:00+00:00        0

### List Comprehension

In [310]:
df_original[df_original.Value > 10].head()

     Value                 Timestamp  Quality
393  10.33 2016-01-03 17:30:00+00:00        0
394  11.18 2016-01-03 17:40:00+00:00        0
395  11.14 2016-01-03 17:50:00+00:00        0
397  10.40 2016-01-03 18:10:00+00:00        0
398  10.76 2016-01-03 18:20:00+00:00        0

#### Retorna somente a serie desejada

In [312]:
serie_timestamp = df_original[df_original.Value > 10].Timestamp
serie_timestamp.head()

393   2016-01-03 17:30:00+00:00
394   2016-01-03 17:40:00+00:00
395   2016-01-03 17:50:00+00:00
397   2016-01-03 18:10:00+00:00
398   2016-01-03 18:20:00+00:00
Name: Timestamp, dtype: datetime64[ns, UTC]

#### Contudo, por boa prática, utilizarmos sempre o método LOC, que na verdade é definir uma condição e filtrar por labels

In [314]:
#retorna dataframe
df_filtrado = df_original.loc[df_original.Value > 10]
df_filtrado.head()

     Value                 Timestamp  Quality
393  10.33 2016-01-03 17:30:00+00:00        0
394  11.18 2016-01-03 17:40:00+00:00        0
395  11.14 2016-01-03 17:50:00+00:00        0
397  10.40 2016-01-03 18:10:00+00:00        0
398  10.76 2016-01-03 18:20:00+00:00        0

In [316]:
#retorna uma serie
serie_filtrada = df_original.loc[df_original.Value > 10, 'Timestamp']
serie_filtrada.head()

393   2016-01-03 17:30:00+00:00
394   2016-01-03 17:40:00+00:00
395   2016-01-03 17:50:00+00:00
397   2016-01-03 18:10:00+00:00
398   2016-01-03 18:20:00+00:00
Name: Timestamp, dtype: datetime64[ns, UTC]

###                              Filtros Multiplos
#### Operador lógico E

In [318]:
df_original[(df_original.Value > 10) & (df_original.Quality == 0)].head()

     Value                 Timestamp  Quality
393  10.33 2016-01-03 17:30:00+00:00        0
394  11.18 2016-01-03 17:40:00+00:00        0
395  11.14 2016-01-03 17:50:00+00:00        0
397  10.40 2016-01-03 18:10:00+00:00        0
398  10.76 2016-01-03 18:20:00+00:00        0

#### Operador lógico OU

In [320]:
df_original[(df_original.Value > 10) | (df_original.Quality == 0)].head()

   Value                 Timestamp  Quality
0   6.14 2016-01-01 00:00:00+00:00        0
1   5.75 2016-01-01 00:10:00+00:00        0
2   5.71 2016-01-01 00:20:00+00:00        0
3   6.07 2016-01-01 00:30:00+00:00        0
4   5.75 2016-01-01 00:40:00+00:00        0

#### Utilizando ISIN

In [322]:
df_original[df_original.Value.isin([6])].head()

     Value                 Timestamp  Quality
203    6.0 2016-01-02 09:50:00+00:00        0

#### Utilizando loc

In [323]:
df_original.loc[(df_original.Value > 10) & (df_original.Quality == 0)].head()

     Value                 Timestamp  Quality
393  10.33 2016-01-03 17:30:00+00:00        0
394  11.18 2016-01-03 17:40:00+00:00        0
395  11.14 2016-01-03 17:50:00+00:00        0
397  10.40 2016-01-03 18:10:00+00:00        0
398  10.76 2016-01-03 18:20:00+00:00        0


##                                      Eixos

###                       axis 0 = linhas | axis 1 = colunas

###                  eixo 0 das linhas trabalha de cima para baixo
###                 eixo 1 das colunas trabalha da esquerda para direita

#### Media das colunas numericas, ou seja, de cima para baixo

In [328]:
# 'index' é um alias para axis 0
print(df_original.mean(axis=0))
#conferir se a media estar certa
df_original.describe()

Value      6.456759
Quality    0.000000
dtype: float64

            Value  Quality
count  432.000000    432.0
mean     6.456759      0.0
std      1.637152      0.0
min      0.870000      0.0
25%      5.687500      0.0
50%      6.490000      0.0
75%      7.270000      0.0
max     11.180000      0.0

#### Media das linhas, ou seja, esquerda para direita

In [330]:
# 'columns' é um alias para axis 1
df_original.mean(axis=1).head()

0    3.070
1    2.875
2    2.855
3    3.035
4    2.875
dtype: float64

##### calculo para provar que 'df_original.mean(axis=1).head()' fez a média da linha somando as colunas numéricas

In [332]:
media_linha = (df_original['Quality'][0] + df_original['Value'][0])/2
media_linha

3.069999933242798

#### soma das colunas

In [334]:
soma = df_original.sum(axis=1)
soma.head()

0    6.14
1    5.75
2    5.71
3    6.07
4    5.75
dtype: float64

#### soma das linhas

In [336]:
soma = df_original.sum(axis=0)
soma.head()

Value      2789.320068
Quality       0.000000
dtype: float64

###                              TIPANDO COLUNAS

In [339]:
df_original.dtypes

Value                    float32
Timestamp    datetime64[ns, UTC]
Quality                    int64
dtype: object

In [348]:
strings = []

for item in df_original.Value:
    a = str(item)
    strings.append(a)
    
df_nova_coluna = df_original
df_nova_coluna['Value_string'] = pd.Series(strings)

#Note que o DF df_original está com a coluna Value_string criada em df_nova_coluna, por isso no python é preciso copiar a lista
df_original.head()

   Value                 Timestamp  Quality       Value_string
0   6.14 2016-01-01 00:00:00+00:00        0  6.139999866485596
1   5.75 2016-01-01 00:10:00+00:00        0               5.75
2   5.71 2016-01-01 00:20:00+00:00        0  5.710000038146973
3   6.07 2016-01-01 00:30:00+00:00        0  6.070000171661377
4   5.75 2016-01-01 00:40:00+00:00        0               5.75

#### voltando df_original para o padrão

In [349]:
df_original.drop(['Value_string'], axis=1, inplace=True)
df_original.dtypes

Value                    float32
Timestamp    datetime64[ns, UTC]
Quality                    int64
dtype: object

#### Copiando para outro DF

In [354]:
df_nova_coluna = df_original.copy()
df_nova_coluna['Value_string'] = pd.Series(strings)
df_nova_coluna.dtypes

Value                       float32
Timestamp       datetime64[ns, UTC]
Quality                       int64
Value_string                 object
dtype: object

#### Converter Value para string mostra informações extras, como é possivel ver em Value_string o número de valores únicos(298)

In [357]:
df_nova_coluna.describe(include='all')

             Value                  Timestamp  Quality       Value_string
count   432.000000                        432    432.0                432
unique         NaN                        432      NaN                298
top            NaN  2016-01-01 20:40:00+00:00      NaN  6.090000152587891
freq           NaN                          1      NaN                  5
mean      6.456759                        NaN      0.0                NaN
std       1.637152                        NaN      0.0                NaN
min       0.870000                        NaN      0.0                NaN
25%       5.687500                        NaN      0.0                NaN
50%       6.490000                        NaN      0.0                NaN
75%       7.270000                        NaN      0.0                NaN
max      11.180000                        NaN      0.0                NaN

###                              MÉTODOS STRINGS
####              Os métodos strings no Pandas são acessados via .str

#### fazendo um filtro por string

In [360]:
df_nova_coluna[df_nova_coluna.Value_string.str.contains('21.')].head()

    Value                 Timestamp  Quality        Value_string
26   5.66 2016-01-01 04:20:00+00:00        0   5.659999847412109
33   5.16 2016-01-01 05:30:00+00:00        0   5.159999847412109
48   2.21 2016-01-01 08:00:00+00:00        0  2.2100000381469727
71   5.41 2016-01-01 11:50:00+00:00        0   5.409999847412109
74   5.91 2016-01-01 12:20:00+00:00        0   5.909999847412109

###                              Aprofundando em DataTypes

In [362]:
df_nova_coluna2 = df_nova_coluna.copy()
df_nova_coluna2.dtypes

Value                       float32
Timestamp       datetime64[ns, UTC]
Quality                       int64
Value_string                 object
dtype: object

#### Alterando o tipo da coluna Quality para object(string)

In [364]:
df_nova_coluna2['Quality'] = df_nova_coluna2.Quality.astype(object)
df_nova_coluna2.dtypes

Value                       float32
Timestamp       datetime64[ns, UTC]
Quality                      object
Value_string                 object
dtype: object

#### Manipulando string para pegar somente a parte inteira de Value_string

In [365]:
df_nova_coluna2['Value_int'] = df_nova_coluna2.Value_string.str.split('.').str[0]
df_nova_coluna2.head()

   Value                 Timestamp Quality       Value_string Value_int
0   6.14 2016-01-01 00:00:00+00:00       0  6.139999866485596         6
1   5.75 2016-01-01 00:10:00+00:00       0               5.75         5
2   5.71 2016-01-01 00:20:00+00:00       0  5.710000038146973         5
3   6.07 2016-01-01 00:30:00+00:00       0  6.070000171661377         6
4   5.75 2016-01-01 00:40:00+00:00       0               5.75         5

In [371]:
df_nova_coluna2.describe(include='all')

,Value,Timestamp,Quality,Value_string,Value_int
count,432.000000,432,432.0,432,432
unique,NaN,432,1.0,298,12
top,NaN,2016-01-01 20:40:00+00:00,0.0,6.090000152587891,6
freq,NaN,1,432.0,5,152
mean,6.456759,NaN,NaN,NaN,NaN
std,1.637152,NaN,NaN,NaN,NaN
min,0.870000,NaN,NaN,NaN,NaN
25%,5.687500,NaN,NaN,NaN,NaN
50%,6.490000,NaN,NaN,NaN,NaN
75%,7.270000,NaN,NaN,NaN,NaN
max,11.180000,NaN,NaN,NaN,NaN

#### expand = True são retornadas duas colunas, uma com a parte interia e outra com a parte fracionária

In [374]:
df_nova_coluna2.Value_string.str.split('.', expand=True).head()

   0                1
0  6  139999866485596
1  5               75
2  5  710000038146973
3  6  070000171661377
4  5               75

#### Converter uma serie boolean em integer

In [377]:
todas_ocorrencias = df_nova_coluna2.Value_string.str.contains('21.').astype(int)
print(type(todas_ocorrencias))

#numero de ocorrencias de valores que contenham 21.
todas_ocorrencias.sum()

<class 'pandas.core.series.Series'>

24


###                              TRATANDO VALORES NULOS (NaN)
#### Como este dataframe não possui valores NaN, adicionei alguns quando o valor da coluna Value_int for igual a 5

In [381]:
df_nova_coluna2.loc[df_nova_coluna2.Value_int == '5', 'Value_int'] = np.nan

#### Saber quantidade de nulos em uma coluna

#### Agora a coluna Value_int possui 99 NaN, ou seja, anteriormente possuia 99 itens com valor 5

In [383]:
df_nova_coluna2.isnull().sum()

Value            0
Timestamp        0
Quality          0
Value_string     0
Value_int       99
dtype: int64

#### Filtrar para verificar quais linhas tem nulos

In [384]:
df_nova_coluna2[df_nova_coluna2.Value_int.isnull()].tail()

     Value                 Timestamp Quality       Value_string Value_int
359   5.65 2016-01-03 11:50:00+00:00       0  5.650000095367432       NaN
360   5.58 2016-01-03 12:00:00+00:00       0  5.579999923706055       NaN
361   5.87 2016-01-03 12:10:00+00:00       0  5.869999885559082       NaN
362   5.45 2016-01-03 12:20:00+00:00       0  5.449999809265137       NaN
364   5.88 2016-01-03 12:40:00+00:00       0  5.880000114440918       NaN

In [386]:
df_nova_coluna2.shape[0]

432

### Remover linhas que Value seja NaN

#### Com dropna inplace = True, altera o dataframe original
#### how = 'any' -> se existir um NaN na linha então deleta toda a linha

In [388]:
df_linhas_removidas = df_nova_coluna2.dropna(how='any')
df_linhas_removidas.shape[0]

333

#### how = 'all' -> se todos os valores da linha for NaN então deleta a linha
não foi deletado nada porque não existe uma linha com todos valores NaN

In [391]:
A = df_nova_coluna2.dropna(how='all')
A.shape

(432, 5)

#### Utilizando parametro subset, que recebe uma lista
não foi deletado nada porque não existe uma linha Value_int E Timestamp NaN

In [394]:
A = df_nova_coluna2.dropna(subset=['Value_int', 'Timestamp'],how='all')
A.shape

(432, 5)

Foi deletado porque existe uma linha Value_int OU Timestamp NaN

In [396]:
B = df_nova_coluna2.dropna(subset=['Value_int', 'Timestamp'],how='any')
B.shape

(333, 5)

#### value_counts SEM contar os valores NaN

In [398]:
df_nova_coluna2.Value_int.value_counts().head(10)

6     152
7      83
8      28
2      15
4      13
9      13
10     11
3      10
1       5
11      2
Name: Value_int, dtype: int64

#### value_counts INCLUINDO os valores NaN

In [401]:
df_nova_coluna2.Value_int.value_counts(dropna=False).head(10)

6      152
NaN     99
7       83
8       28
2       15
4       13
9       13
10      11
3       10
1        5
Name: Value_int, dtype: int64

#### Preenchendo os valores que são NaN com -1

In [402]:
C = df_nova_coluna2.fillna(value=-1)
C[C.Value_int == -1].tail()

     Value                 Timestamp  Quality       Value_string Value_int
359   5.65 2016-01-03 11:50:00+00:00        0  5.650000095367432        -1
360   5.58 2016-01-03 12:00:00+00:00        0  5.579999923706055        -1
361   5.87 2016-01-03 12:10:00+00:00        0  5.869999885559082        -1
362   5.45 2016-01-03 12:20:00+00:00        0  5.449999809265137        -1
364   5.88 2016-01-03 12:40:00+00:00        0  5.880000114440918        -1